.about {
  background-color: var(--primary);
  padding: 60px 0;
  margin: 45px 0;
}
.image {
  width: 400px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.cont {
  width: 50%;
  padding-left: 60px;
}
.phargh {
  color: var(--white);
  padding-bottom: 20px;
}
.title {
  color: var(--white);
  font-family: "Dancing Script", cursive;
}
.btn {
  border: none;
  background-color: var(--secondary);
  color: var(--white);
  width: 150px;
  height: 40px;
  border-radius: 50px;
  font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
  .flex {
flex-direction: column;
  }
  .cont{
    width: unset;
    padding: 0 18px;
  }
  .btn{
width: 100%;
  }
}

@media screen and (min-width: 600px) {
  html[dir] .flex{
    flex-direction: row-reverse;
  }

}
@media screen and (min-width: 300px) {
  .image{
    width: 330px;
  }

}
