.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  list-style: none;
  padding: 75px 0 40px 0;
}
.conditions{
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 20px;
}

.conditions div{
  max-width: 65%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
    margin: 0 30px;
  }
}
