.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  padding: 20px 0;
  background-color: black;
}
.image {
  width: 15%;
}
.list {
  list-style: none;
  display: flex;
  font-size: 18px;
}

.list li {
  margin-right: 18px;
}
.list a {
  text-decoration: none;
  color: var(--white);
}
.list a::after {
  content: "";
  background-color: var(--secondary);
  display: block;
  width: 0;
  height: 2px;
  margin-top: 4px;
  transition: width 0.3s;
}
.all {
  background-color: black;
}
.list a:hover::after {
  width: 100%;
}
.left {
  color: var(--white);
  font-family: Dancing Script, cursive;
  font-size: 38px;
}

.list .home {
  color: var(--secondary);
}
.icon {
  position: relative;
}
.icon i {
  color: var(--white);
  font-size: 25px;
}
.btn {
  border: none;
  background-color: var(--secondary);
  color: var(--white);
  padding: 6px 16px;
  height: 35px;
  border-radius: 50px;
  font-size: 1rem;
}

.menu,
.cancel {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    display: none;
    height: 100vh;
    background-color: var(--primary);
    justify-content: unset;
    z-index: 1;
  }
  .t{
    background-color: black;
    height: 10vh;
  }
  .list {
    flex-direction: column;
    text-align: center;
    padding: 20% 0;
    font-size: 1.5rem;
  }
  .list li {
    padding: 0.4em;
  }

  .menu,
  .cancel {
    display: block;
    width: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
  }
  .container {
    display: none;
  }
  .btn {
    height: unset;
    font-size: 1.5em;
  }
  .icon i {
    font-size: 35px;
  }
}
.cart {
  color: var(--white);
  background-color: red;
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -5px;
}

.sign {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  height: 100px;
}

html[dir] .sign {
  flex-direction: row-reverse;
}
