.hero {
  position: relative;
  background-image: url(../../images/bg.jpg);
  background-size: cover;
  height: 100vh;
}
.paragh {
  padding: 24% 0 0 0;
  color: var(--white);
  max-width: 50%;
}
.title {
  padding-bottom: 20px;
  font-size: 3rem;
  font-family: Dancing Script, cursive;
}
.paragh2 {
  padding-bottom: 38px;
  line-height: 1.7;
}
.btn {
  border: none;
  background-color: var(--secondary);
  color: var(--white);
  width: 150px;
  height: 40px;
  border-radius: 50px;
  font-size: 1.1rem;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .paragh {
    max-width: 100%;
    margin: 0 2em 2em 2em;
    text-align: center;
  }
  .title {
    font-size: 2.4rem;
  }
  .paragh2 {
    line-height: 1.5;
  }
  .btn {
    width: 130px;
    height: 40px;
  }
}
