@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

a {
  text-decoration: none;
  color: inherit;
}
:root {
  --primary: #222831;
  --secondary: #ffbe33;
  --ternary: #f1f2f3;
  --header: #0c0c0c;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.relative {
  position: relative;
}

html {
  scroll-behavior: smooth;
}
