.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper {
  min-width: 400px;
  max-height: 250px;
  margin: 50px 0;
}
.upper img {
  width: 100%;
  height: 250px;
}

.lower {
  min-width: 400px;
  min-height: 250px;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 40px 20px;
  position: relative;
  background-image: url("../../images/card_bg.webp");
}

.upper__7{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 250px;
  margin: 50px 0;
  background-image: url(../../images//1-2.png);
  color: var(--white);;
  font-size: 28px;
  text-transform: uppercase;
  
}

.upper__7 div {
  font-family: 'Bitter', serif !important;
}

.lower__7{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 250px;
  background-image: url(../../images/1-1.png);
  padding: 86px 20px 28px 62px;
}
.lower__7__bot{
  display: flex;
  gap: 75px;
  font-size: 10px;
}
.lower__7 h4{
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Bitter', serif !important;
  margin-left: -30px;
}
.lower__7__bot__left > div{
  margin-bottom: 4px;
}
.name {
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.name::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  border-radius: 0 5px 5px 0;
}

.data {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.data i {
  background-color: var(--primary);
  color: var(--white);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-right: 6px;
}

.bg {
  width: 50%;
  position: absolute;
  display: flex;
  right: 0;
  /* border-radius: 30% 0 0 30%; */
}
.bg_inner {
  background-color: green;
  width: 60%;
  height: 80px;
}

.bg_first {
  background-color: green;
  width: 40%;
  height: 80px;
  border-radius: 50% 0 0 50%;
}

.data_inner {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 0;
}

.all form > div {
  margin-bottom: 10px;
}

.all form {
  padding-top: 120px;
}

.all {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
}
.add {
  display: inline;
  border-radius: 6px;
}
.input {
  border-radius: 3%;
  padding: 8px;
  margin: 5px;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #ecb153;
  outline: 0;
}
.input:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 0 0.25rem rgba(235, 117, 14, 0.25);
}
.formInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.formInfo label {
  font-size: 15px;
}
@media screen and (max-width: 400px) {
  .formInfo{
    padding: 0 60px;
  }
}
@media screen and (max-width: 768px) {
  .card{
    align-items: flex-start;
    padding: 10px;
  }
  .formInfo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .all form > div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .all {
    grid-template-columns: 1fr;
  }
  .all form {
    padding-top: 40px;
  }
  .upper {
    margin: 0 0 20px 0;
  }

  
}
